<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script type="text/javascript" src="../public/javascripts/socketIo.js"></script>


</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">About me</a></li>
        <li class="active"><a href="/about">Call<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Message </a></li>
        <li><a href="/blogs">My Blogs </a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron" width='100%' height='100%' border='5px'>
      <ul>
          <li>
                <a href = 'https://medium.com/@mailpayalverma/webrtc-behind-the-proxy-on-ubuntu-using-coturn-and-nodejs-da7b193bf884'> WebRTC Implementation</a>
          </li>
          <li>
                <a href ='https://github.com/gitpayal/TheAlgorithmsImplementation'>Algorithm Implementation</a> 
          </li>
      </ul>
        
       

</div>
  </div>
 
   
 
</body>
</html>